<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">

<!--1. xml에 기술해 매개변수의 갯수와 똑같은 매개인자를 불러온다.--> 
<!-- <bean id="tv" class="polymolphism.SamsungTV">  -->
<!-- 	<property name="speaker" ref="apple"></property> -->
<!-- 	<property name="price" value="2700000"></property> -->
<!-- </bean> -->

<!-- <bean id="tv" class="polymolphism.SamsungTV" p:speaker-ref="sony" p:price="2700000"/> -->

<!-- <bean id="sony" class="polymolphism.SonySpeaker"></bean> -->
<!-- <bean id="apple" class="polymolphism.AppleSpeaker"></bean> -->

	<context:component-scan base-package="com.springbook.biz">
	</context:component-scan>
</beans>
